<% case chart
	when "real_time" %>
<div class="chart" id="chart_real_time_div"></div>
<div id="chart_real_time_control" class="hidden">
	<div class="form-group form-group-sm" style="width:auto">
		<%= label_tag "real-time-interval", "Set time interval in minutes", class: "control-label" %>
		<%= text_field_tag "real-time-interval", 30, class: "form-control", size: 5, style: "width:auto; display:inline" %>
		<%= button_tag "Set", type: :button, id: "set-real-time-interval", class: "btn btn-default btn-sm", onclick: "$(this).prop('disabled', true); drawRealTimeChart('#{real_time_data_stats_path(current_node)}', 'chart_real_time_div', $('#real-time-interval').val(), #{Time.zone.now.utc_offset})" %>
	</div>
</div>
<% when "yearly" %>
<div class="chart" id="chart_yearly_div"></div>
<% when "monthly" %>
<div class="chart" id="chart_monthly_div"></div>
<% when "weekly" %>
<div class="chart" id="chart_weekly_div"></div>
<% when "daily" %>
<div class="chart" id="chart_daily_div"></div>
<% end %>
