<% case chart
	when "real_time" %>
<div id="chart_real_time_div"></div>
<div id="chart_real_time_control" class="hidden">
	<div class="form-group" style="width:auto">
		<label class="control-label" for="real-time-interval">Set time interval (min.)</label>
		<input id="real-time-interval" type="text" style="width:auto; display:inline" class="form-control" size="5" value="5">
	  <button id="set-real-time-interval" class="btn btn-default" onclick="drawRealTimeChart('<%=real_time_data_stats_path(current_node)%>', 'chart_real_time_div', $('#real-time-interval').val(), <%= Time.zone.now.utc_offset %>)" type="button">Set</button>
	</div>
</div>
<% when "yearly" %>
<div id="chart_yearly_div"></div>
<% when "monthly" %>
<div id="chart_monthly_div"></div>
<% when "weekly" %>
<div id="chart_weekly_div"></div>
<% when "daily" %>
<div id="chart_daily_div"></div>
<% end %>
