

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=current_node.title %> Time zone <%= current_node.time_zone %></h3>
  </div>
  <div class="panel-body">

<% case params[:chart]
	when "real_time" %>
<div id="chart_real_time_div"></div>
<% when "yearly" %>
<div id="chart_yearly_div"></div>
<% when "monthly" %>
<div id="chart_monthly_div"></div>
<% when "weekly" %>
<div id="chart_weekly_div"></div>
<% when "daily" %>
<div id="chart_daily_div"></div>
<% end %>
<%= render "onload" %>

  </div>
</div>
