
<% case params[:chart]
	when "real_time" %>
<div id="chart_real_time_div"></div>
<% when "yearly" %>
<div id="chart_yearly_div"></div>
<% when "monthly" %>
<div id="chart_monthly_div"></div>
<% when "weekly" %>
<div id="chart_weekly_div"></div>
<% when "daily" %>
<div id="chart_daily_div"></div>
<% end %>
<%= render "onload" %>
